<% content_for :title, "Checkout Canceled" %>
<p>Order #<%= @order.id%> has was unable to be procced at the moment. Please contanct us so that we can help resovle the issue.</p>
<p>Email us at thefantasticalbooktopiauniversethemostspectacularallpurposebookstore@gmail.com for any concerns or more information</p>