<% content_for :title, "Checkout Success" %>
<h2>Thank you for Shopping with us!</h2>
<p>Order #<%= @order.id %> has successfully gone through, and should be shipped in 3-7 buissness days. </p>
<p>Email us at thefantasticalbooktopiauniversethemostspectacularallpurposebookstore@gmail.com for any concerns or more information</p>