<h3>
  Fancy display heading
  <small class="text-muted">With faded secondary text</small>
</h3>
<div class= "container">

  <div class= "row">
    <%= render @books%>
  </div>
  <div class= "row">
    <%= paginate @books %>
  <div>

</div>


